---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075508,
            "kind": "project",
            "name": "Peng and Musulin's TrackerHub",
            "version": 34,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Los_Angeles",
              "offset": "-07:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T07:00:00Z",
            "created_at": "2014-05-07T19:09:59Z",
            "updated_at": "2014-05-07T19:09:59Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1060100,
            "kind": "project",
            "name": "Bebe's User Authentication",
            "version": 145,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075508/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '34'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70885548,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T22:02:03Z",
            "accepted_at": "2014-05-07T22:02:03Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "accepted",
            "requested_by_id": 1256900,
            "project_id": 1075508,
            "url": "https://www.pivotaltracker.com/story/show/70885548",
            "owner_ids": [
              1256936,
              1256900
            ],
            "labels": [

            ],
            "owned_by_id": 1256936
          },
          {
            "kind": "story",
            "id": 70885550,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T22:02:23Z",
            "accepted_at": "2014-05-07T22:02:23Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that pro[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075508/stories/70885548/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '34'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68662258,
            "story_id": 70885548,
            "text": "This is a test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T19:10:52Z"
          },
          {
            "kind": "comment",
            "id": 68662260,
            "story_id": 70885548,
            "text": "This is a second test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T19:10:52Z"
          },
          {
            "kind": "comment",
            "id": 68675366,
            "story_id": 70885548,
            "text": "Commit by Seth Musulin\nhttps://github.com/bebepeng/peng-musulin-trackerhub/commit/e300e323a4dfa3a42435705f70299456c9cb7865\n\n[#70885548] User can view all of BebePengs tracker projects\n\nSigned-off-by: Bebe Peng <bebepeng@gmail.com>",
            "person_id": 1256936,
            "created_at": "2014-05-07T20:49:50Z",
            "updated_at": "2014-05-07T20:49:50Z",
            "commit_identifier": "e300e323a4dfa3a42435705f70299456c9cb7865",
            "commit_type": "github"
          }
        ]
  recorded_at: Thu, 08 May 2014 21:20:42 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075508/stories/70885550/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '34'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68678994,
            "story_id": 70885550,
            "text": "Commit by Bebe Peng\nhttps://github.com/bebepeng/peng-musulin-trackerhub/commit/5edd72fb0ab8f6f13acdd996e478c052470e6348\n\n[#70885550] Users can view all stories for a project\n\nSigned-off-by: Seth Musulin <<GITHUB_USERNAME>@gmail.com>",
            "person_id": 1256900,
            "created_at": "2014-05-07T21:23:50Z",
            "updated_at": "2014-05-07T21:23:50Z",
            "commit_identifier": "5edd72fb0ab8f6f13acdd996e478c052470e6348",
            "commit_type": "github"
          }
        ]
  recorded_at: Thu, 08 May 2014 21:20:42 GMT
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/bebepeng/peng-musulin-trackerhub/commits/e300e323a4dfa3a42435705f70299456c9cb7865/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1399587458'
      Etag:
      - '"27e9520649d53b72d42f195b5dc8c31c"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/bebepeng/peng-musulin-trackerhub/comments/6247883","html_url":"https://github.com/bebepeng/peng-musulin-trackerhub/commit/e300e323a4dfa3a42435705f70299456c9cb7865#commitcomment-6247883","id":6247883,"user":{"login":"msgehard","id":128210,"avatar_url":"https://avatars.githubusercontent.com/u/128210?","gravatar_id":"b09d62315dbafc471538dd71d404ad48","url":"https://api.github.com/users/msgehard","html_url":"https://github.com/msgehard","followers_url":"https://api.github.com/users/msgehard/followers","following_url":"https://api.github.com/users/msgehard/following{/other_user}","gists_url":"https://api.github.com/users/msgehard/gists{/gist_id}","starred_url":"https://api.github.com/users/msgehard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/msgehard/subscriptions","organizations_url":"https://api.github.com/users/msgehard/orgs","repos_url":"https://api.github.com/users/msgehard/repos","events_url":"https://api.github.com/users/msgehard/events{/privacy}","received_events_url":"https://api.github.com/users/msgehard/received_events","type":"User","site_admin":false},"position":7,"line":7,"path":"spec/models/tracker_api_spec.rb","commit_id":"e300e323a4dfa3a42435705f70299456c9cb7865","created_at":"2014-05-07T22:06:47Z","updated_at":"2014-05-07T22:06:47Z","body":"Mutating
        projects with the .map! method changes the contents of project. It started
        out as an array full of hashes and now it contains an array full of strings.
        It is better form to use .map and store the results in a well named new variable."},{"url":"https://api.github.com/repos/bebepeng/peng-musulin-trackerhub/comments/6247904","html_url":"https://[...]
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/bebepeng/peng-musulin-trackerhub/commits/bcd429a9baf1209e2de2d5a623e9775c61cc33e5/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1399587458'
      Etag:
      - '"85eb2aa14370861c9445fbf09bafadec"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/19547116/commits/bcd429a9baf1209e2de2d5a623e9775c61cc33e5/comments?page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 May 2014 21:20:44 GMT
recorded_with: VCR 2.9.0
