<h2>Stories</h2>
<ul>
  <% @stories.each do |story| %>
    <li><%= story["name"] %></li>
  <% end %>
</ul>
<hr>

<h2>Tracker Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li><%= comment["text"] %></li>
  <% end %>
</ul>
<hr>