---
http_interactions:
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/bebepeng/peng-musulin-trackerhub/commits/e300e323a4dfa3a42435705f70299456c9cb7865/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1399587458'
      Etag:
      - '"27e9520649d53b72d42f195b5dc8c31c"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/bebepeng/peng-musulin-trackerhub/comments/6247883","html_url":"https://github.com/bebepeng/peng-musulin-trackerhub/commit/e300e323a4dfa3a42435705f70299456c9cb7865#commitcomment-6247883","id":6247883,"user":{"login":"msgehard","id":128210,"avatar_url":"https://avatars.githubusercontent.com/u/128210?","gravatar_id":"b09d62315dbafc471538dd71d404ad48","url":"https://api.github.com/users/msgehard","html_url":"https://github.com/msgehard","followers_url":"https://api.github.com/users/msgehard/followers","following_url":"https://api.github.com/users/msgehard/following{/other_user}","gists_url":"https://api.github.com/users/msgehard/gists{/gist_id}","starred_url":"https://api.github.com/users/msgehard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/msgehard/subscriptions","organizations_url":"https://api.github.com/users/msgehard/orgs","repos_url":"https://api.github.com/users/msgehard/repos","events_url":"https://api.github.com/users/msgehard/events{/privacy}","received_events_url":"https://api.github.com/users/msgehard/received_events","type":"User","site_admin":false},"position":7,"line":7,"path":"spec/models/tracker_api_spec.rb","commit_id":"e300e323a4dfa3a42435705f70299456c9cb7865","created_at":"2014-05-07T22:06:47Z","updated_at":"2014-05-07T22:06:47Z","body":"Mutating
        projects with the .map! method changes the contents of project. It started
        out as an array full of hashes and now it contains an array full of strings.
        It is better form to use .map and store the results in a well named new variable."},{"url":"https://api.github.com/repos/bebepeng/peng-musulin-trackerhub/comments/6247904","html_url":"https://github.com/bebepeng/peng-musulin-trackerhub/commit/e300e323a4dfa3a42435705f70299456c9cb7865#[...]
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/bebepeng/peng-musulin-trackerhub/commits/bcd429a9baf1209e2de2d5a623e9775c61cc33e5/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1399587458'
      Etag:
      - '"85eb2aa14370861c9445fbf09bafadec"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/19547116/commits/bcd429a9baf1209e2de2d5a623e9775c61cc33e5/comments?page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 May 2014 21:20:50 GMT
recorded_with: VCR 2.9.0
